
.notum{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: block;
    margin: 0 1px;
}

.notum:first-child{
    margin-left: 10px;
}

.note{
    display: flex;
    margin: 0;
    padding: 0;
}